/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

:root {
  --color-green: #8ED270;
  --color-dark: #2C2C34;
  --color-white: #EEE5E9
}